* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.tweet-div {
  height: 300px;
  width: 500px;
  margin: 300px auto;
}
#tweet-box {
  color: #2d2e2f;
  outline: none;
  border: none;
  border-bottom: 1.5px solid #1da1f2;
  font-size: 19px;
  font-weight: bolder;
  height: 90px;
  width: 500px;
  resize: none;
  margin-bottom: 10px;
  margin-top: 10px;
}
button {
  outline: none;
  border: none;
  background: #1da1f2;
  color: white;
  padding: 10px;
  width: 75px;
  border-radius: 40px;
  transition: 150ms ease;
  cursor: pointer;
  font-weight: 800;
}
button:hover {
  transform: scale(1.08);
}
input {
  color: #2d2e2f;
  outline: none;
  border: none;
  border-bottom: 1.5px solid #1da1f2;
  font-size: 17px;
  font-weight: bolder;
  height: 40px;
  width: 500px;
  resize: none;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px 0px 15px;
  margin-bottom: 20px;
}
.prompt {
  width: 100%;
  text-align: center;
  margin-top: 300px;
}
#sent-title {
  font-size: 28px;
}
#go-home {
   width: 85px;
   margin: 25px auto;
}
