<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Python tweet program</title>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <form class="tweet-div">
    <input type="text" id="consumer-key" placeholder="Consumer key...">
    <input type="text" id="consumer-secret" placeholder="Consumer secret...">
    <input type="text" id="access-token" placeholder="Access token...">
    <input type="text" id="access-token-secret" placeholder="Access token secret...">
    <textarea id="tweet-box" name="name" rows="8" cols="80" placeholder="Tweet something..."></textarea>
    <button id="tweet" type="button" name="button">Tweet</button>
  </form>
  <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>